@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100;300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gantari', sans-serif;
  background-color: #DBE6FD;
}

/* Navbar */
.nav-bar {
  height: 70px;
  background-color: #0A1931;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 0;
}

.nav-bar a {
  text-decoration: none;
  color: #DFF6FF;
}

.nav-bar h2 {
  font-size: 40px;
  background-color: #0A1931;
}

/* Home */
.home-parent {
  display: flex;
  height: 90vh;
}

.home-col {
  color: white;
  background-color: #DBE6FD;
  padding: 10px;
  flex: 50%;
}

.home-col:nth-child(2) {
  background-color: rgb(22, 31, 47);
}

.unlock-svg {
  height: 30rem;
  width: 20rem;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-items: center;
  background-color: rgb(22, 31, 47);
}

.home-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-col .home-btn {
  display: flex;
  margin: 30px;
}

.home-col h1 {
  font-weight: 700;
  font-size: 70px;
  color: #185ADB;
}

.btns {
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
  background-color: #06283D;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 12px;
  text-align: center;
}

/* Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}

.not-found h2 {
  font-size: 75px;
}

.not-found p {
  font-size: 30px;
}

/* Dashboard */
.dashboard {
  padding: 2rem 4rem;
}

.dashboard h2 {
  font-size: 35px;
  font-size: 400;
  text-align: center;
  color: #185ADB;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card {
  width: 20%;
  border: 1px solid #0A1931;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 3px;
}

.card-image img {
  width: 100%;
  border-radius: 10px;
}

.card-title h3 {
  text-align: center;
  font-size: 20px;
  margin: 5px 0px;
}

.card-links {
  text-align: center;
}

.card-link {
  text-decoration: none;
  color: #2D31FA;
}

/* Staff page */
.staff {
  max-width: 75%;
  margin: 2rem auto;
  align-items: center;
}

.staff h1 {
  text-align: center;
}

.staff-form {
  margin-top: 2.5rem;
}

.staff input {
  height: 45px;
  width: 27%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #0A1931;
  margin-right: 2rem;
  font-size: 17px;
}

.staff input:focus {
  border: 1px solid rgb(0, 208, 255);
}

.staff button {
  cursor: pointer;
  background-color: #06283D;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 11px;
  border: none;
}

/* hostels page */
.hostels {
  max-width: 75%;
  margin: 2rem auto;
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.hostel {
  border: 2px solid #0A1931;
  padding: 10px;
  text-align: center;
}

.hostel h2 {
  margin-bottom: 10px;
}

.hostel-link {
  text-decoration: none;
  color: #2D31FA;
}







/* Responsive */
@media (max-width: 665px) {
  .nav-bar {
    padding: 2rem 0;
  }

  .nav-bar h2 {
    font-size: 30px;
  }

  .home-col {
    background-color: rgb(22, 31, 47);
  }

  .home-col h1 {
    background-color: rgb(22, 31, 47);
    font-size: 60px;
  }

  .btns {
    font-size: 20px;
  }

  .home-col:nth-child(2) {
    display: none;
  }
}